vendor
app/
public
database/
fixtures/src/Payroll/HumanResourceModule
fixtures/src/Payroll/PaymentModule
composer.lock
lib/App/
test.php
php_errors.log
cfg/module.ini
cfg/app.ini
.tpl/
tpl/
bin/clean
bin/setup
tasker.php
backup
console
index.php
console    
bootstrap.php
cfg/
logs/
.phpunit.result.cache
.env
.bak
./xcli
xcli
.cache
package.json
pkg-roles/
src/Strukt/Package/PkgRoles.php
src/Strukt/Package/Extender.php
lib/Strukt

